@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --off-white: hsl(36, 100%, 99%);
  --background-rgb: 255, 255, 255;
  --background-color: #F8F9F9;
  --theme-green: #65BC7B;
  --dark-green: #1BAE70;
  --darkest-green: #303f2d;
  --light-sea-green: #86D3B4;
  --pale-aqua: #BAE7DE;
  --deep-charcoal-blue: #48515B;
  --deep-navy-blue: #27313F;
  --light-steel-blue: #9CA7AB;
  --light-orange: #EF820D;
  --dark-orange: #D9534F;
  --theme-gray: #555;
  --bottom-left-box-shadow: 0px 0px 0px 1px rgb(140 140 140/.2) ,0px 4px 4px rgb(0 0 0/.3);
  --dull-color: hsl(0, 0%, 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --theme-green: #3B8C4D;
    --dark-green: #1BAE70;
    --dull-color: hsl(0, 0%, 80%);
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 1920px;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  color: white;
  width: max-content;
  padding: 1rem;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.dull-text {
  color: var(--dull-color);
}