@mixin flex-column() {
    display: flex;
    flex-direction: column;
}

$header-height: min(10svh, 100px);


#app {
    min-height: 100svh;
    width: 100%;
    @include flex-column();
    align-items: center;
    justify-content: space-between;
}

#app header {
    // background-color: var(--base-bg);
    padding: 0.5rem 2svw;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#app main {
    flex: 1;
    @include flex-column();
    align-items: center;
    width: 95%;
    justify-content: center;
    padding-top: 5svh;
}

#utility-bar {
    background-color: var(--dark-green);
    width: 100%;
    text-align: center;
    color: white;
}


#hero {
    @include flex-column();
    gap: 2rem;
    width: 90%;
    align-items: center;
}

#hero-main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 45svh;
    gap: 1rem;
}

#hero-main-general {
    flex: 2;
    background: url(/images/cabin-with-plant-pots.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    min-width: 50%;
    min-height: 45svh;
}

#hero-main-categories {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: min(50%, 620px);
    gap: 1rem;
    min-width: 320px;
    height: 45svh;
}

.hero-main-category {
    // background: url(/images/water-features.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    // width: 300px;
    // height: 300px;
    width: calc((100% - 1rem)/2);
    // padding-bottom: 48%;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.hero-main-category-label {
    // background-color: oklch(var(--b1));
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
    padding: 5px;
    font-size: smaller;
}

.hero-main-category:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }


#hero-main-general-text-container {
    display: flex;
    flex-wrap: wrap;
}

#hero-main-general-text-container > * {
    flex: 1;
}

#hero-main-general-text-main {
    font-size: 2.5rem;
    font-weight: 800;
    min-width: 320px;
}

#hero-main-general-text-sub {
    min-width: 320px;
    @include flex-column();
    padding: 5px;
    gap: 1rem;
    padding-bottom: 1rem;
}

#ctabtns {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-self: flex-end;
}

.popular-product {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.popular-product-desc {
    @include flex-column();
    gap: 0.5rem;
}

.popular-product-category {
    color: var(--light-steel-blue);
}

.popular-product-price {
    font-size: 1rem;
    font-weight: bold;
}

.popular-product-btns {
    display: flex;
}

.popular-product-view-btn {
    flex: 1;
    border-color: oklch(var(--b3));
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.popular-product-order-btn {
    display: flex;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#app footer {
    width: 100%;
    background-color: var(--theme-green);
    color: white;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

@media (prefers-color-scheme: dark) {
    #app footer {background-color: var(--darkest-green);}
}

.footer-section-header {
    font-size: 24px;
    color: var(--deep-charcoal-blue);
    font-weight: bold;
    margin-bottom: 1rem;
}

#erickss-footer-section {
    width: 350px;
}

.footer-social {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-social-instagram:hover {
    color: var(--dark-orange);
}
.footer-social-facebook:hover {
    color: teal;
}

@media (max-width: 666px) {
    #utility-bar {
        font-size: small;
    }
}

#under-maintenance {
    padding: 5px;
    background-color: var(--dark-orange);
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border-radius: 1rem;
    color: #FFF;
    text-align: center;
    z-index: 999;
    // display: flex;
    // justify-content: center;
}

#whatsapp {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 1rem;
    right: 1rem;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 2px 1px #999;
    z-index: 999;
    display: flex;
    justify-content: center;
}
